/* login.css */
/* Unique styles for Login component */

.login-box-container {
  min-height:95%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  padding: 20px;
}

.login-box-form {
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.login-box-title {
  font-size: 26px;
  color: #0f2027;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
}

.login-box-input {
  width: 90%;
  padding: 12px 14px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.login-box-input:focus {
  border-color: #2c5364;
  outline: none;
  box-shadow: 0 0 6px rgba(44, 83, 100, 0.4);
}

.login-box-button {
  width: 100%;
  padding: 14px;
  background-color: #2c5364;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-box-button:hover {
  background-color: #203a43;
}
